extends ../layouts/default
block intro
    section.cart-page
        .container
            .order-list
                h3 Twój koszyk
                each book in cartContents
                    .single-order
                        if book
                        h4 #{book.name} |
                        p Ilość #{book.quantity}
                        a.delete-btn.lead.text-muted(href='/remove-from-cart/' +book.id): i.fas.fa-trash-alt
                        p.order-btn.lead: a.lead(href='/checkout'): span Zamów
                else
                    .empty-list
                        p.lead Brak książek w koszyku.
                        p.lead.text-muted: a.lead(href='/books'): span Wróć do strony z książkami
                    .row