extends ../layouts/default

block intro
	section.gallery
		.container
			h3 Filmy i grafika
	
block content
	.container
		.gallery-box
			if galleries.length
				each gallery in galleries
					.gallery-images
						if gallery.heroImage.exists
							.col-sm-4.col-md-4.gallery-image 
								img(src=gallery._.heroImage.limit(680,680)).img-rounded
								h5.gallery-title= gallery.name
							//.col-sm-8.col-md-8: .row
								each image in gallery.images
									.col-xs-4.col-sm-4.col-md-3.gallery-image: img(src=image.limit(300,300)).img-rounded
								
						else
							// each image in gallery.images
								.col-xs-6.col-sm-4.col-md-3.gallery-image: img(src=image.limit(300,300)).img-rounded
							
						//if gallery.publishedDate
						//	.pull-right.text-muted= gallery._.publishedDate.format('DD.MM.YYYY')
			else
				h3.text-muted There are no image galleries yet.
