extends ../layouts/default
block content
	.register
		section.register-page
			.container
				h3 Rejestrecja
		.container
			.col-sm-8.col-md-6.row
				form.register-form( action = '/register', method='post')
					.form-group
						label Imię
						input.form-control(type='text', name='name', value=form['name'])
					.form-group
						label Nazwisko
						input.form-control(type='text', name='surrname', value=form['surrname'])
					.form-group
						label E-mail
						input.form-control(type='email', name='email', value=form.email)
					.form-group
						label Telefon
						input.form-control(type='text', name='phone', value=form.phone, placeholder='(optional)')
					.form-group
						label Hasło
						input.form-control(type="password", name="password")
					.form-group
						label Powtórz hasło
						input.form-control(type="password", name="passwordAgain")
					.form-actions
						button.btn.register-btn(type='submit') Zarejestruj się
					+flash-messages(messages)
