extends ../layouts/default
block intro
    .signin
        section.signin-page
            .container
                h3 Logowanie 
        .container
            .col-sm-8.col-md-6.row
                form( action = '/login', method='POST')
                    .form-group
                        label E-mail
                        input.form-control(type='email', name='email', value=form.email)
                    .form-group
                        label Hasło
                        input.form-control(type="password", name="password")
                    .form-actions
                        button.btn.sigin-btn(type='submit') Zaloguj
                    a.rst-btn(href='#') Zresetuj hasło
                +flash-messages(messages)